@import "bootstrap/dist/css/bootstrap.min.css";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  padding-bottom: 80px;
}
